<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CSC4710 Demo</display-name>
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>user.web.servlet.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTeamServlet</display-name>
    <servlet-name>EditTeamServlet</servlet-name>
    <servlet-class>user.web.servlet.EditTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTeamServlet</servlet-name>
    <url-pattern>/EditTeamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDriverServlet</display-name>
    <servlet-name>EditDriverServlet</servlet-name>
    <servlet-class>user.web.servlet.EditDriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDriverServlet</servlet-name>
    <url-pattern>/EditDriverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteTeamServlet</display-name>
    <servlet-name>deleteTeamServlet</servlet-name>
    <servlet-class>user.web.servlet.deleteTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteTeamServlet</servlet-name>
    <url-pattern>/deleteTeamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteRaceServlet</display-name>
    <servlet-name>deleteRaceServlet</servlet-name>
    <servlet-class>user.web.servlet.deleteRaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteRaceServlet</servlet-name>
    <url-pattern>/deleteRaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteLapsServlet</display-name>
    <servlet-name>deleteLapsServlet</servlet-name>
    <servlet-class>user.web.servlet.deleteLapsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteLapsServlet</servlet-name>
    <url-pattern>/deleteLapsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteDriverServlet</display-name>
    <servlet-name>deleteDriverServlet</servlet-name>
    <servlet-class>user.web.servlet.deleteDriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDriverServlet</servlet-name>
    <url-pattern>/deleteDriverServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>findAllLaps</display-name>
    <servlet-name>findAllLaps</servlet-name>
    <servlet-class>user.web.servlet.findAllLaps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAllLaps</servlet-name>
    <url-pattern>/findAllLaps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAllTeams</display-name>
    <servlet-name>findAllTeams</servlet-name>
    <servlet-class>user.web.servlet.findAllTeams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAllTeams</servlet-name>
    <url-pattern>/findAllTeams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAllRaces</display-name>
    <servlet-name>findAllRaces</servlet-name>
    <servlet-class>user.web.servlet.findAllRaces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAllRaces</servlet-name>
    <url-pattern>/findAllRaces</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAllDrivers</display-name>
    <servlet-name>findAllDrivers</servlet-name>
    <servlet-class>user.web.servlet.findAllDrivers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAllDrivers</servlet-name>
    <url-pattern>/findAllDrivers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LapServlet</display-name>
    <servlet-name>LapServlet</servlet-name>
    <servlet-class>user.web.servlet.LapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LapServlet</servlet-name>
    <url-pattern>/LapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditLapServlet</display-name>
    <servlet-name>EditLapServlet</servlet-name>
    <servlet-class>user.web.servlet.EditLapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditLapServlet</servlet-name>
    <url-pattern>/EditLapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RaceServlet</display-name>
    <servlet-name>RaceServlet</servlet-name>
    <servlet-class>user.web.servlet.RaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RaceServlet</servlet-name>
    <url-pattern>/RaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRaceServlet</display-name>
    <servlet-name>EditRaceServlet</servlet-name>
    <servlet-class>user.web.servlet.EditRaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRaceServlet</servlet-name>
    <url-pattern>/EditRaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamServlet</display-name>
    <servlet-name>TeamServlet</servlet-name>
    <servlet-class>user.web.servlet.TeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamServlet</servlet-name>
    <url-pattern>/TeamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterDriverServlet</display-name>
    <servlet-name>RegisterDriverServlet</servlet-name>
    <servlet-class>user.web.servlet.RegisterDriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDriverServlet</servlet-name>
    <url-pattern>/RegisterDriverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
